<div>
	<div class="panel panel-default">
	  <div class="panel-body">
			<form>
				<button id="sync-to-server" type="button" class="btn btn-default pull-left">Sync To Server</button>
				<button id="sync-from-server" type="button" class="btn btn-default pull-left">Sync From Server</button>
				<button id="add" type="button" class="btn btn-default pull-right">+</button>
			</form>
	  </div>
	</div>
	<ul class="list-group">
	</ul>
</div>